<!DOCTYPE html>
<html>
  <head>
    <title>Skillbreak - Social Media Login App</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
		<%= render 'external_scripts/fb_scripts' %>
  <%= javascript_tag do %>
    window.credentials = {
      FACEBOOK_APP_ID: "<%= Rails.application.credentials.dig(:development, :FACEBOOK_APP_ID) %>",
      FACEBOOK_APP_SECRET: "<%= Rails.application.credentials.dig(:development, :FACEBOOK_APP_SECRET) %>",
      GOOGLE_CLIENT_ID: "<%= Rails.application.credentials.dig(:development, :GOOGLE_CLIENT_ID) %>",
      GOOGLE_CLIENT_SECRET: "<%= Rails.application.credentials.dig(:development, :GOOGLE_CLIENT_SECRET) %>"
    }
  <% end %>
    <%= yield %>
  </body>
</html>
